<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>a  a&nbsp;a</h1><h2>aa <em>aaaa</em>a</h2>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p>asdfadf      aaaaq<q>aaaa</q></p>

    &nbsp;&nbsp



<p>111&nbsp; <q>aa</q>q</p>

</p>aa<p>

        <video src="https://v.youku.com/v_show/id_XNTg4MTE2ODQ4MA==.html?spm=a2ha1.14919748_WEBHOME_GRAY.drawer8.d_zj1_1&s=ebafe29c0cce4861bc1a&scm=20140719.manual.29095.show_ebafe29c0cce4861bc1a" width="800" height="800" controls></video>

        <iframe height=498 width=510 src='https://player.youku.com/embed/XNTg4MTE2ODQ4MA==' ></iframe>

        <iframe src="https://www.qq.com" frameborder="0"></iframe>
</body>
</html>