<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        .aa {
            width: 200px;
            height: 200px;
            background-color: #bbffaa;

            border-radius: 40px/20px;

            display: inline-block;

        }

        #b{
            width: 200px;
            height: 200px;
            background-color: #bbffaa;

            border-radius: 40px/20px;
        }
    </style>
</head>
<body>

<div class="aa">aaaaaaaaaaaaa
</div>

<div class="aa">aaaaaaaaaaaaaaaa</div>

<div id="b">aa</div>

</body>
</html>